"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" clipboard setting
set clipboard+=unnamed
set clipboard+=ideaput

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" line number

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \e to the open .ideavimrc action
"" Map \r to th\ Reformat Code action
map \e :e ~/.ideavimrc<CR>
map \r :action IdeaVim.ReloadVimRc.reload<CR>

"" Map Tab to Tab
noremap <Tab> >>
noremap <S-Tab> <<
""vnoremap <Tab> >gv
""vnoremap <S-Tab> <gv

"" Map Space as header
let mapleader=" "

""Navigation
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

noremap <C-Tab> :action NextTab<CR>
noremap <C-S-Tab> :action PreviousTab<CR>

nnoremap <C-h> <c-w>h
nnoremap <C-l> <c-w>l
nnoremap <C-j> <c-w>j
nnoremap <C-k> <c-w>k

nnoremap <Leader>q :action CloseContent<CR>

""References:
""https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b tj toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc
